.navbar {
    margin-bottom: 30px;
}

#main-content h1 {
    font-size: 2em;
}

#cardapio section {
    border: 2px solid black;
    padding: 15px;
    background-color: cadetblue;
    margin-top: 20px;
}

section p:nth-child(1) {
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}

footer {
    padding: 50px;
}