doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
        script(src="js/main.js")
    body
        .container.is-fluid


            nav.navbar
                .container
                    .navbar-brand
                        a.navbar-item(href="#") Pied Piper
                        a.navbar-burger(role="button", aria-label="menu", aria-expanded="false")
                            span(aria-hidden="true")
                            span(aria-hidden="true")
                            span(aria-hidden="true")
                    .navbar-menu
                        .navbar-start
                            a.navbar-item(href="#") Features
                            a.navbar-item(href="#") Enterprise
                            a.navbar-item(href="#") Support
                            .navbar-item.has-dropdown.is-hoverable
                                a.navbar-link ICO
                                .navbar-dropdown
                                    a.navbar-item.navbar-item-dropdown(href="#") Whitepaper
                                    a.navbar-item.navbar-item-dropdown(href="#") Token
                        .navbar-end
                            .navbar-item
                                .buttons
                                    a.button.is-light(href="#") Log in
                                    a.button.is-primary(href="#") Sign up


            section.section
                .container.py-4
                    h2.title.has-text-centered.mb-6 The Pied Piper Blog

                    .columns.is-multiline.mb-6
                        .column.is-6-tablet.is-3-widescreen
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2019 | By Dinesh Chugtai
                                    h5.title.is-6
                                        a(href="#") Why I'm the Best Programmer Ever
                                    p I feel like not everybody outside of Pied Piper knows it, so I wanted to make it clear why I'm the best programmer in the world.

                        .column.is-6-tablet.is-3-widescreen
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2018 | By Bertram Gilfoyle
                                    h5.title.is-6
                                        a(href="#") Secrets of Decentralization
                                    p What makes decentralization so great? Let me enlighten you with my wisdom

                        .column.is-6-tablet.is-3-widescreen
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2018 | By Monica Hall
                                    h5.title.is-6
                                        a(href="#") How Our ICO Almost Failed
                                    p This is a short story about how we uncovered an insane problem with our ICO, fixed it, and still managed to secure vast funding.

                        .column.is-6-tablet.is-3-widescreen
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2018 | By Jared Dunn
                                    h5.title.is-6
                                        a(href="#") Why Strong Tea Isn't Good For CEOs
                                    p An exhaustive guide about how different teas can affect a CEO during their workday.

                    .buttons.is-centered
                        a.button.is-primary(href="#") Read more

